.about__desc{
    font-size: rem(16px);
    @include fira(light);
    color: $grey;
}
.about__btn{
    display: flex;
    justify-content: flex-end;
    @include phones{
        justify-content: center;
    }
}